<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.0.xsd  
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://cxf.apache.org/jaxws  http://cxf.apache.org/schemas/jaxws.xsd
http://www.springframework.org/schema/rabbit 
http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">
	<jaxws:client id="helloClient" serviceClass="com.liuyu.service.HelloServiceI"
		address="http://10.160.29.6:8080/CXFDemo/Hello" />
	<jaxws:client id="demoClient" serviceClass="com.liuyu.demo.service.DemoServiceI"
		address="http://10.160.29.6:8081/CXFXADemo/demoService" />
</beans> 
